@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine-dark.css';
@import 'remixicon/fonts/remixicon.css';



#__next .ag-theme-alpine .ag-root-wrapper,
#__next .rdrDateRangePickerWrapper{
    @apply border-none;
}

#__next .rdrInputRange:nth-child(2) {
    @apply hidden;
}

#__next .ag-theme-alpine .ag-row {
    border-width: 0;
}

@media (max-width: 768px) {
    .rdrDefinedRangesWrapper {
       display: none !important;
    }
}

.ag-watermark {
    display: none !important;
}
.rdrDefinedRangesWrapper,
.rdrDateDisplayWrapper,
.rdrMonths,
.rdrDay span,
.rdrMonthAndYearWrapper,
.rdrCalendarWrapper,
.rdrStaticRange:hover .rdrStaticRangeLabel{
    background: transparent !important;
    color: hsl(var(--bc) / var(--tw-text-opacity)) !important;
}
.rdrDefinedRangesWrapper {
    border: none !important;
}

.rdrStaticRange {
    border-bottom: 0;
}
/* ToDo should be connected to theme */
.rdrPprevButton i {
    border-right-color: hsl(var(--bc) / var(--tw-text-opacity));
}
.rdrNextButton i {
    border-left-color: hsl(var(--bc) / var(--tw-text-opacity));
}

.rdrMonthAndYearPickers select {
    color: hsl(var(--bc) / var(--tw-text-opacity));
}




